@import url(https://fonts.googleapis.com/css?family=BenchNine:400);
body{
  background-color: #333;
  color:#fff;
  font-family: 'BenchNine', sans-serif;
}
.navbar-right{
	padding: 0px 0px 0px 10px;
}
.navbar-toggle{
  border:none;
}
.navbar-default{
  background-color: #000;
  border-style: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #959595;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
    border-radius:0;
}
#landing{
  height:100vh;
}
#facesection{
  background-image: url("../images/dillon.png");
  background-repeat:no-repeat;
}
h2,
h3{
  padding:0px 0px 0px 0px;
}
.introline{
  font-size:22px;
  padding:0px 0px 25px 0px;
  line-height: 40px;
}
button.work{
  padding: 12px 55px 12px 55px;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 50px;
  font-size: 18px;
}
.dillonduddy{
  border-bottom: 5px solid #959595;
}
.socialbtns{
  padding: 0px 3px 0px 0px;
}
.topline{
  padding: 100px 0px 80px 0px;
}
.secondline{
  padding: 0px 0px 150px 0px;
}
.topline, .secondline{
  font-size:30px;
}
.underlined{
  font-size:38px;
  text-decoration: none;
  border-bottom: 5px solid #959595;
  line-height: 70px;
}
.projectpadding{
  padding: 0px 10px 2px 10px;
}
ul{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}
.email{
  font-size:16px;
}
.socialli, .footerli, .getintouch{
  color:#959595;
}
@media(min-width:768px) {
  .navbar-top{
    border-bottom: 1px solid #fff;
    border-radius: 0;
  }
  .navbar-default{
    margin: 0 11% 0 11%;
  }
  .navbar-default .navbar-nav > li > a {
      font-size: 20px;
      padding: 20px 0 10px 25px;
  }
  .introline{
    font-size:28px;
    padding-bottom: 60px;
  }
  button.work{
    margin-top: 60px;
  }
  .topline, .secondline{
    font-size:40px;
  }
  .underlined{
    font-size: 54px;
    line-height: 80px;
  }
  #landing{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

  }
  #facesection{
    height: 800px;
    width: 100%;
    margin-top: 30px;
  }
  #topgroup{
    text-align:center;
    margin-top: 50%;
    margin-left: 5%;
    width:100%

  }

}
@media(max-width: 768px){
  button.work{
    display:none;
  }

}
